<a href="https://colab.research.google.com/github/Tuhin04/Assignment-1/blob/main/assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**(1)L is a list defined as L= [11, 12, 13, 14]**

**WAP to add 50 and 60 to L**

In [ ]:
L.append(50)
L.append(60)
print(L)

[11, 12, 13, 14, 50, 60]

**WAP to remove 11 and 13from L**

In [ ]:
L.remove(11)
L.remove(13)
print(L)

[12, 14]

**WAP to sort L in ascending order**

In [ ]:
L = [11, 12, 13, 14]
L.sort()
print(L)

[11, 12, 13, 14]

**WAP to sort L in descending order**

In [ ]:
L.sort(reverse=True)
print(L)

[14, 13, 12, 11]

**WAP to search for 13 in L**

In [ ]:
if 13 in L:
    print("13 is found in the list.")
else:
    print("13 is not found in the list.")

**WAP to count the number of elements present in L**

In [ ]:
count = len(L)
print("The number of elements in the list is:", count)

The number of elements in the list is: 4

**WAP to sum all the elements in L**

In [ ]:
sum_of_elements = sum(L)
print("The sum of elements in the list is:", sum_of_elements)

**WAP to sum all ODD numbers in L**

In [ ]:
sum_of_odd_numbers = sum([num for num in L if num % 2 != 0])
print("The sum of odd numbers in the list is:", sum_of_odd_numbers)

**WAP to sum all EVEN numbers in L**

In [ ]:
sum_of_even_numbers = sum([num for num in L if num % 2 == 0])
print("The sum of even numbers in the list is:", sum_of_even_numbers)

**WAP to sum all PRIME numbers in L**

In [ ]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

sum_of_prime_numbers = sum([num for num in L if is_prime(num)])
print("The sum of prime numbers in the list is:", sum_of_prime_numbers)

**WAP to clear all the elements in L**

In [ ]:
L.clear()
print("The list L after clearing all elements:", L)

**WAP to delete L**

In [ ]:
del L

**(2) D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}**

**(i)WAP to add new entry in D; key=8 and value is 8.8**

In [ ]:
D[8] = 8.8
print(D)

**(ii) WAP to remove key=2.**

In [ ]:
del D[2]
print(D)

**(iii) WAP to check weather 6 key is present in D**

In [ ]:
if 6 in D:
    print("Key 6 is present in the dictionary.")
else:
    print("Key 6 is not present in the dictionary.")

**(iv) WAP to count the number of elements present in D**

In [ ]:
count = len(D)
print("The number of elements in the dictionary is:", count)

**(v) WAP to add all the values present D.**

In [ ]:
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
sum_of_values = sum(D.values())
print("The sum of values in the dictionary is:", sum_of_values)

The sum of values in the dictionary is: 36.4

**(vi) WAP to update the value of 3 to 7.1.**

In [ ]:
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
D[3] = 7.1
print("Updated dictionary:", D)

**(vii) WAP to clear the dictionary**

In [ ]:
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}
D.clear()
print("The dictionary D after clearing all elements:", D)

**S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].
 S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].
(i) WAP to add 55 and 66 in Set S1.
(ii) WAP to remove 10 and 30 from Set S1.
(iii) WAP to check whether 40 is present in S1.
(iv) WAP to find the union between S1 and S2.
(v) WAP to find the intersection between S1 and S2.
(vi) WAP to find the S1 - S2.**

In [ ]:
i)S1 = {10, 20, 30, 40, 50, 60}
S1.add(55)
S1.add(66)
print(S1)

In [ ]:
ii)S1 = {10, 20, 30, 40, 50, 60}
S1.remove(10)
S1.remove(30)
print(S1)

In [ ]:
iii)S1 = {10, 20, 30, 40, 50, 60}
if 40 in S1:
    print("40 is present in S1")
else:
    print("40 is not present in S1")

In [ ]:
iv)S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
union_set = S1.union(S2)
# Alternatively: union_set = S1 | S2
print(union_set)

In [ ]:
v)S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
intersection_set = S1.intersection(S2)
# Alternatively: intersection_set = S1 & S2
print(intersection_set)

In [ ]:
vi)S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
difference_set = S1.difference(S2)
# Alternatively: difference_set = S1 - S2
print(difference_set)

**Q4. Write the following program.
(i) WAP to print 100 random strings whose length between 6 and 8.
(ii) WAP to print all prime numbers between 600 and 800.
(iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.**

In [ ]:
i)import random
import string

for _ in range(100):
    length = random.randint(6, 8)
    random_string = ''.join(random.choices(string.ascii_lowercase, k=length))
    print(random_string)

In [ ]:
ii)def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

for num in range(600, 801):
    if is_prime(num):
        print(num)

In [ ]:
iii)for num in range(100, 1001):
    if num % 7 == 0 and num % 9 == 0:
        print(num)

**5. WAP to create two lists of 10 random numbers between 10 and 30; Find
(i) Common numbers in the two lists
(ii) Unique numbers in both the list
(iii) Minimum in both the list
(iv) Maximum in both the list
(v) Sum of both the lists**

In [ ]:
# Create two lists of 10 random numbers between 10 and 30
list1 = random.sample(range(10, 31), 10)
list2 = random.sample(range(10, 31), 10)

print("List 1:", list1)
print("List 2:", list2)

In [ ]:
i)common_numbers = set(list1) & set(list2)
print("Common numbers:", common_numbers)

In [ ]:
ii)unique_numbers = set(list1) ^ set(list2)
print("Unique numbers:", unique_numbers)

In [ ]:
iii)minimum1 = min(list1)
minimum2 = min(list2)
print("Minimum in List 1:", minimum1)
print("Minimum in List 2:", minimum2)

In [ ]:
iv)maximum1 = max(list1)
maximum2 = max(list2)
print("Maximum in List 1:", maximum1)
print("Maximum in List 2:", maximum2)

In [ ]:
v)sum_lists = sum(list1) + sum(list2)
print("Sum of both lists:", sum_lists)

**6. WAP to create a list of 100 random numbers between 100 and 900. Count and print the:
(i) All odd numbers
(ii) All even numbers
(iii) All prime numbers**

In [ ]:
# Create a list of 100 random numbers between 100 and 900
random_numbers = random.sample(range(100, 901), 100)

In [ ]:
i)odd_numbers = [num for num in random_numbers if num % 2 != 0]
print("Odd numbers:", odd_numbers)
print("Count of odd numbers:", len(odd_numbers))

In [ ]:
ii)even_numbers = [num for num in random_numbers if num % 2 == 0]
print("Even numbers:", even_numbers)
print("Count of even numbers:", len(even_numbers))

In [ ]:
iii)def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

prime_numbers = [num for num in random_numbers if is_prime(num)]
print("Prime numbers:", prime_numbers)
print("Count of prime numbers:", len(prime_numbers))

**7. D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}.
 WAP to read all the keys and values from dictionary and write to the file in the given below format.
Key1, Value1
Key2, Value2
Key3, Value3**

In [ ]:
D = {1: "One", 2: "Two", 3: "Three", 4: "Four", 5: "Five"}

# Open a file for writing
with open("dictionary_output.txt", "w") as file:
    # Iterate over the dictionary items
    for key, value in D.items():
        # Write the key-value pair to the file
        file.write(f"{key}, {value}\n")

**8. L is a list defined as L={"One","Two","Three","Four","Five"}.
 WAP to count the length of reach element from a list and write to the file in the given below format:
One, 3
Two, 3
Four, 4**

In [ ]:
L = ["One", "Two", "Three", "Four", "Five"]

# Open a file for writing
with open("list_output.txt", "w") as file:
    # Iterate over the list elements
    for element in L:
        # Get the length of the element
        length = len(element)
        # Write the element and its length to the file
        file.write(f"{element}, {length}\n")

**9. Write to the file 100 random strings whose length between 10 and 15.**

In [ ]:
import random
import string

# Open a file for writing
with open("random_strings.txt", "w") as file:
    # Generate and write 100 random strings
    for _ in range(100):
        length = random.randint(10, 15)
        random_string = ''.join(random.choices(string.ascii_lowercase, k=length))
        file.write(random_string + '\n')

**10. Write to the file all prime numbers between 600 and 800**

In [ ]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

# Open a file for writing
with open("prime_numbers.txt", "w") as file:
    # Check and write prime numbers between 600 and 800
    for num in range(600, 801):
        if is_prime(num):
            file.write(f"{num}\n")

**11.WAP to calculate the time taken by a program**

In [ ]:
import time

# Start the timer
start_time = time.time()

# Your program code goes here

# End the timer
end_time = time.time()

# Calculate the elapsed time
elapsed_time = end_time - start_time

# Print the elapsed time
print(f"Elapsed time: {elapsed_time} seconds")

**12. WAP to sort following number of elements in a list, calculate time taken and plot the graph.
Number of elements in list Time Taken
5k T1
10k T2
15k T3
20k T4
25k T5**

In [ ]:
import time
import matplotlib.pyplot as plt

def sort_list(n):
    # Generate a list of random numbers
    random_list = [random.randint(1, 100) for _ in range(n)]

    # Start the timer
    start_time = time.time()

    # Sort the list
    sorted_list = sorted(random_list)

    # End the timer
    end_time = time.time()

    # Calculate the elapsed time
    elapsed_time = end_time - start_time

    return elapsed_time

# Define the number of elements in the list
num_elements = [5000, 10000, 15000, 20000, 25000]

# Calculate the time taken for each number of elements
time_taken = []
for n in num_elements:
    elapsed_time = sort_list(n)
    time_taken.append(elapsed_time)

# Plot the graph
plt.plot(num_elements, time_taken, marker='o')
plt.xlabel('Number of Elements')
plt.ylabel('Time Taken (seconds)')
plt.title('Sorting Time vs Number of Elements')
plt.show()

**13.WAP to create a dictionary of student marks in five subjects and you have to find the student
 having maximum and minimum average marks.**

In [ ]:
def calculate_average(marks):
    total = sum(marks)
    return total / len(marks)

# Dictionary of student marks in five subjects
student_marks = {
    "John": [85, 90, 92, 88, 95],
    "Emma": [78, 80, 82, 75, 85],
    "Michael": [92, 88, 90, 86, 95],
    "Sophia": [80, 75, 85, 82, 78],
    "Daniel": [95, 90, 92, 88, 85]
}

# Calculate average marks for each student
averages = {student: calculate_average(marks) for student, marks in student_marks.items()}

# Find the student with maximum average marks
max_student = max(averages, key=averages.get)
max_average = averages[max_student]

# Find the student with minimum average marks
min_student = min(averages, key=averages.get)
min_average = averages[min_student]

# Print the results
print("Student with maximum average marks:")
print(f"Name: {max_student}")
print(f"Average marks: {max_average}")
print()
print("Student with minimum average marks:")
print(f"Name: {min_student}")
print(f"Average marks: {min_average}")